<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Documento</title>
    <link rel="stylesheet" href="/static/create.css">
    <link rel="stylesheet" href="/static/fonts/stylesheet.css">
</head>
<body>
    <section>
        <div class="form-container">
            <h1>Crie seu Formulário</h1>
            <form method="POST">
                <input type="text" name="titulo" placeholder="Título do Formulário (até 200 caracteres)" maxlength="200" required>
                <textarea name="descricao" placeholder="Descrição do Formulário" required></textarea>
                
                <div id="perguntas"></div>
                <button type="button" id="adicionarPergunta">Adicionar Pergunta</button>
                <button type="submit">Enviar Formulário</button>
            </form>
        </div>
    </section>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span id="closeModal" class="close">&times;</span>
            <p>Formulário enviado com sucesso!</p>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>