<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meus Formulários</title>
    <link rel="stylesheet" href="/static/forms.css">
    <link rel="stylesheet" href="/static/fonts/stylesheet.css">
</head>
<body>
    <header>
        <div class="title">
            <h1>QuickForms</h1>
        </div>

        <ul>
            <a href="{{ url_for('create') }}">
                <li>Criar Novo Formulário</li>
            </a>
        </ul>
    </header>

    <main>
        <h2>Lista de Formulários</h2>
        <div>
            <ul>
                {% for formulario in formularios %}
                    <li>
                        <strong>{{ formulario.titulo }}</strong> - {{ formulario.descricao }}
                        <a href="{{ url_for('edit', id=formulario.id) }}">Editar</a>
                        <a href="{{ url_for('delete', id=formulario.id) }}">Excluir</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </main>
</body>
</html>
